form-control:focus {
  border-color: #00bcd4;
  box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, 0.25);
  }
  
  .form-control-underlined {
  border-width: 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
  border-radius: 0;
  padding-left: 0;
  margin: 0 auto;
  width: 70%;
  display: block;
  font-size: 1.1rem;
  margin-bottom: 1em;
  }
  
  .form-control::placeholder {
  font-size: 1rem;
  color: #777;
  font-style: normal;
  }