body {
  font-family: 'Open Sans', sans-serif;
  background-color: #71592e;
}

/* code {
  font-family: 'Fira Code', monospace;
  font-size: 1.1rem;
  color: #333;
} */
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item a {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  padding: 10px;
  transition: color 0.2s ease-in-out;
}

.nav-item a:hover {
  color: #555;
}
